
<script>
    function openCity(evt, cityName, ref) {
        var i = 0;
        var bar = ref.parentElement;
        var tab = ref.parentElement.parentElement;

        var tabs = tab.getElementsByClassName("city");
        for (i = 0; i < tabs.length; i++) {
            tabs[i].style.display = "none";
            if (tabs[i].id == cityName)
                tabs[i].style.display = "block";
        }

        var tablinks = bar.getElementsByClassName("tablink");
        for (i = 0; i < tabs.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" white0", "");
        }
        evt.currentTarget.className += " white0";
    }
</script>